<div class="container mx-auto text-center p-auto pt-96">
    <h1 class="text-indigo-600 font-black text-6xl mb-2 uppercase">Pelicula APP</h1>
    <div class="grid md:grid grid-cols-4">

        <div class="max-auto text-black-600 font-black ">
            <a routerLink="actores">Crear Actor</a>
        </div>

        <div class="max-auto text-black-600 font-black ">
            <a routerLink="directores">Crear Director</a>
        </div>

        <div class="max-auto text-black-600 font-black ">
            <a routerLink="crear-pelicula">Crear Pelicula</a>
        </div>

        <div class="max-auto text-black-600 font-black ">
            <a routerLink="mostrar-peliculas">Mostrar Peliculas</a>
        </div>
    </div>
</div>
